In [1]:
import pandas as pb
df=pb.read_csv("./practical.csv")
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

1. How many men and women (sex feature) are represented in this dataset?

In [5]:
df.gender.value_counts()

gender
Male      32650
Female    16192
Name: count, dtype: int64

2. What is the average age (age feature) of women?

In [6]:
df[df["gender"]=="Female"]["age"].mean()

36.92798913043478

3. What is the percentage of German citizens (native-country feature)?

In [20]:
german=len(df[df["native-country"]=="Germany"])
german/len(df)*100

0.421768150362393

4. What are the mean and standard deviation of age for those who earn more than 50K per
year (salary feature) and those who earn less than 50K per year?

In [27]:
print("Rich man mean of age",df[df["income"] == ">50K"]["age"].mean())
print("Rich man standard deviation of age",df[df["income"] == ">50K"]["age"].std())
print("Poor man mean of age",df[df["income"] == "<=50K"]["age"].mean())
print("Poor man standard deviation of age",df[df["income"] == "<=50K"]["age"].std())

Rich man mean of age 44.275177547702576
Rich man standard deviation of age 10.55898337028787
Poor man mean of age 36.87218409366169
Poor man standard deviation of age 14.104118026101544

5. Is it true that people who earn more than 50K have at least high school education?
(education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
Masters or Doctorate feature)

In [38]:
a=df[df["income"] == ">50K"]
b=a["education"]
c=b.isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc","Masters","Doctorate"]).all()
c

False

6. Display age statistics for each race (race feature) and each gender (sex feature). 
Use groupby() and describe(). Find the maximum age of men of Amer-Indian
Eskimo race.

In [17]:
print(df.groupby(["race","gender"])["age"].describe())
a=df[(df["race"]=="Amer-Indian-Eskimo") & (df["gender"]=="Male")]["age"].max()
print("Maximum age of men of Amer-Indian-Eskimo race is ",a)

                             count       mean        std   min   25%   50%  \
race               gender
Amer-Indian-Eskimo Female    185.0  36.237838  12.840056  17.0  26.0  35.0
                   Male      285.0  36.989474  11.703943  17.0  29.0  35.0
Asian-Pac-Islander Female    517.0  35.657640  12.637799  17.0  25.0  34.0
                   Male     1002.0  38.994012  12.824878  18.0  29.0  37.0
Black              Female   2308.0  37.905979  12.736001  17.0  28.0  36.0
                   Male     2377.0  37.922592  13.036981  17.0  28.0  36.0
Other              Female    155.0  31.212903  11.233061  17.0  23.0  29.0
                   Male      251.0  35.167331  11.808297  17.0  26.0  32.0
White              Female  13027.0  36.882935  14.454178  17.0  25.0  35.0
                   Male    28735.0  39.704507  13.475250  17.0  29.0  38.0

                            75%   max
race               gender
Amer-Indian-Eskimo Female  46.0  80.0
                   Male    44.0  82.0
Asian-Pac-Islander Female  44.0  81.0
                   Male    46.0  90.0
Black              Female  46.0  90.0
                   Male    46.0  90.0
Other              Female  37.0  74.0
                   Male    42.5  77.0
White              Female  47.0  90.0
                   Male    49.0  90.0
Maximum age of men of Amer-Indian-Eskimo race is  82

7. Among whom is the proportion of those who earn a lot (>50K) greater: married or single 
men (marital-status feature)? Consider as married those who have a marital
status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF
spouse), the rest are considered bachelors.

In [10]:
a=len(df[df["income"] == ">50K"])
Rich_married=len(df[(df["income"]==">50K") & (df["marital-status"].isin(["Married-civ-spouse","Married-spouse-absent","Married-AF-spouse"]))])
Rich_single=a-Rich_married
if(Rich_married > Rich_single):
    print("The Proportional of People with income > 50K and married is more")
else:
    print("The Proportional of People with income > 50K and single is more")

The Proportional of People with income > 50K and married is more

8. What is the maximum number of hours a person works per week (hours-per-week feature)?

In [20]:
df["hours-per-week"].max()

99

9.  How many people work such a number of hours, and what is the percentage of those who 
earn a lot (>50K) among them?

In [36]:
people=len(df[df["hours-per-week"]==df["hours-per-week"].max()])
print("The number of people working for ",df["hours-per-week"].max(), " hours is ",people)
rich=len(df[(df["hours-per-week"]==df["hours-per-week"].max()) & (df["income"]==">50K")])
PERCENTAGE=(rich/people)*100
print("The percentage of people earning more than 50k among them is ",PERCENTAGE)

The number of people working for  99  hours is  137
The percentage of people earning more than 50k among them is  29.927007299270077

10.  Count the average time of work (hours-per-week) for those who earn a little and a lot 
(salary) for each country (native-country). What will these be for Japan?

In [50]:
print("avg time of work for those who earn a lot")
print(df[df["income"]==">50K"].groupby("native-country")["hours-per-week"].mean())
print("avg time of work for those who earn a little")
print(df[df["income"]=="<=50K"].groupby("native-country")["hours-per-week"].mean())
a=df[(df["income"]==">50K") & (df["native-country"]=="Japan")]["hours-per-week"].mean()
print("The avg hours of work for people living in Japan who earn a lot is ",a)
b=df[(df["income"]=="<=50K") & (df["native-country"]=="Japan")]["hours-per-week"].mean()
print("The avg hours of work for people living in Japan who earn a little is ",b)

avg time of work for those who earn a lot
native-country
?                             45.318182
Cambodia                      43.888889
Canada                        46.126984
China                         42.027778
Columbia                      56.250000
Cuba                          42.852941
Dominican-Republic            42.800000
Ecuador                       47.833333
El-Salvador                   43.454545
England                       46.297872
France                        46.500000
Germany                       45.706897
Greece                        55.555556
Guatemala                     36.666667
Haiti                         40.666667
Honduras                      50.000000
Hong                          43.750000
Hungary                       46.333333
India                         46.274194
Iran                          47.954545
Ireland                       45.181818
Italy                         45.647059
Jamaica                       42.400000
Japan                         47.062500
Laos                          40.000000
Mexico                        45.638298
Nicaragua                     38.333333
Outlying-US(Guam-USVI-etc)    40.000000
Peru                          40.000000
Philippines                   43.588235
Poland                        39.588235
Portugal                      46.750000
Puerto-Rico                   39.900000
Scotland                      46.666667
South                         51.400000
Taiwan                        45.538462
Thailand                      53.000000
Trinadad&Tobago               40.000000
United-States                 45.471853
Vietnam                       39.428571
Yugoslavia                    43.375000
Name: hours-per-week, dtype: float64
avg time of work for those who earn a little
native-country
?                             39.552590
Cambodia                      41.157895
Canada                        37.378151
China                         36.686047
Columbia                      39.123457
Cuba                          39.201923
Dominican-Republic            41.561224
Ecuador                       37.948718
El-Salvador                   35.819444
England                       39.375000
France                        40.090909
Germany                       38.898649
Greece                        41.870968
Guatemala                     38.788235
Haiti                         36.409091
Holand-Netherlands            40.000000
Honduras                      34.055556
Hong                          39.000000
Hungary                       34.076923
India                         38.044944
Iran                          39.972973
Ireland                       41.269231
Italy                         38.690141
Jamaica                       38.626374
Japan                         39.733333
Laos                          39.333333
Mexico                        39.931416
Nicaragua                     36.847826
Outlying-US(Guam-USVI-etc)    41.409091
Peru                          36.214286
Philippines                   38.014286
Poland                        37.228571
Portugal                      41.254545
Puerto-Rico                   38.908537
Scotland                      40.833333
South                         41.052632
Taiwan                        35.307692
Thailand                      43.040000
Trinadad&Tobago               38.800000
United-States                 38.817189
Vietnam                       37.848101
Yugoslavia                    38.533333
Name: hours-per-week, dtype: float64
The avg hours of work for people living in Japan who earn a lot is  47.0625
The avg hours of work for people living in Japan who earn a little is  39.733333333333334