In [3]:
import pandas as pb
df=pb.read_csv("./practical.csv")
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

1. How many men and women (sex feature) are represented in this dataset?

In [5]:
df.gender.value_counts()

gender
Male      32650
Female    16192
Name: count, dtype: int64

2. What is the average age (age feature) of women?

In [9]:
df[df["gender"]=="Female"]["age"].mean()

36.92798913043478

3. What is the percentage of German citizens (native-country feature)?

In [20]:
german=len(df[df["native-country"]=="Germany"])
german/len(df)*100

0.421768150362393

4. What are the mean and standard deviation of age for those who earn more than 50K per
year (salary feature) and those who earn less than 50K per year?

In [27]:
print("Rich man mean of age",df[df["income"] == ">50K"]["age"].mean())
print("Rich man standard deviation of age",df[df["income"] == ">50K"]["age"].std())
print("Poor man mean of age",df[df["income"] == "<=50K"]["age"].mean())
print("Poor man standard deviation of age",df[df["income"] == "<=50K"]["age"].std())

Rich man mean of age 44.275177547702576
Rich man standard deviation of age 10.55898337028787
Poor man mean of age 36.87218409366169
Poor man standard deviation of age 14.104118026101544

5. Is it true that people who earn more than 50K have at least high school education?
(education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
Masters or Doctorate feature)

In [30]:
df[df["income" == "<50K"]].education.value_counts()

KeyError: False